<ul class="users" id="delete_user_<%= user.id %>">
  <li>
    <div>
      <img src="<%= get_avatar user.profile.avatar_url %>"
        class="img-circle avatar-message">
    </div>
    <div class="user-profile">
      <%= link_to user.profile.name, user_path(user) %>
    </div>
    <% if current_user.current_user? group.creator %>
      <div class="delete-user">
        <%= link_to group_user_path(user_id: user.id,
          group_id: group.id), method: :delete, remote: true,
          data: {confirm: t(".delete")} do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      </div>
    <% end %>
  </li>
</ul>
