<% provide :title, t(".title") %>
<div class="container-fluid group-index">
  <div class="container">
    <div class="row">
      <% if can? :create, Group %>
        <div class="group-new-btn">
          <%= link_to t(".new"), new_group_path, class: "btn btn-primary btn-text" %>
        </div>
      <% end %>
      <div id="all-group">
        <%= render @group_supports.all_groups %>
      </div>
    </div>
  </div>
</div>
