<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t ".contain_form" %> <%= pluralize object.errors.count, t(".error_message") %>.
    </div>
    <ul>
      <% object.errors.each do |_, msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
