<div class="modal fade" id="modal-error-join-group">
  <div class="modal-dialog">
    <div class="alert alert-danger">
      <strong><%= t ".danger" %></strong> <%= t ".message" %>
    </div>
  </div>
</div>
