<div class="modal fade" id="chart-users" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div id="chart-container"><%= chart.render %></div>
        </div>
      </div>
    </div>
  </div>
</div>
