$dark-grey: #888;

.group-card {
  border-left: solid 2px;
  border-radius: 3%;
  border-top: solid 2px;
  box-shadow: 10px 10px 5px $dark-grey;
  height: 505px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 10px;
}

.group-show {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.group-new-btn {
  margin-top: 30px;
  text-align: center;

  .btn-text {
    font-size: 1.5em;
    padding: 10px;
  }
}

.btn-group {
  margin-bottom: 10px !important;
  margin-top: 10px;
}

.title-not-join {
  float: left;
  font-weight: bold;
  width: 13%;
}

.titlee-not-join {
  text-align: center;
}

.user-join {
  margin-top: 10px;
  min-height: 110px;
}

.user-join-infoo {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.name-user {
  font-size: 10px;
  margin-top: 3px;
  text-align: center;
}

.join {
  text-align: center;
}
