$dark-grey: #888;
$light-grey: #e0e2e5;
$light-blue: #48b5e9;
$white: #fff;

.group-card {
  border: 2px solid $light-grey;
  border-radius: 15px;
  height: 100px;
  margin: 10px;
}

.map-index {
  height: 88vh;
  max-width: 100%;
  position: fixed;
}

.group-show {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.group-new-btn {
  margin-top: 30px;
  text-align: center;

  .btn-text {
    font-size: 1.5em;
    padding: 10px;
  }
}

.btn-group {
  margin-bottom: 10px !important;
  margin-top: 10px;
}

.title-not-join {
  float: left;
  font-weight: bold;
  width: 13%;
}

.titlee-not-join {
  text-align: center;
}

.user-join {
  margin-top: 10px;
  min-height: 110px;
}

.user-join-infoo {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.name-user {
  font-size: 10px;
  margin-top: 3px;
  text-align: center;
}

.join {
  text-align: center;
}

.group-detail {
  height: 80px;
  margin-top: 0;
}

.creator-avatar {
  border-radius: 50%;
  height: 80px;
  left: 10px;
  position: relative;
  top: 10px;
  width: 80px;
}

.nearby {
  float: right;
}

.info-window {
  font-size: 1.1em;
  height: 300px;

  .info-avatar-container {
    border-bottom: solid 1px;
    padding: 10px;
    text-align: center;
  }

  .info-avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  .title {
    border-bottom: solid 1px;
    text-align: center;
  }
}

.map-container {
  position: fixed !important;
  right: 0 !important;
  top: 100px !important;

  .map-canvas {
    height: 100%;
    width: 100%;
  }
}

.side-btn {
  background-color: $white;
  box-shadow: 0 0 0 3px $light-grey;
  cursor: pointer;
  font-size: 30px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 170px;
  width: 50px;
}

.sidenav {
  background-color: $white;
  box-shadow: 0 0 0 5px $light-grey;
  height: 83vh;
  overflow-x: hidden;
  position: fixed;
  right: 0;
  top: 170px;
  transition: .5s;
  width: 0;
  z-index: 1;

  .custom-nearby {
    margin-top: 100px;
  }

  .nearby-slider {
    height: 50px;
    margin: 0 auto;
    width: 80%;
  }

  .small {
    height: 40px;
  }
}

.sidenav a {
  display: block;
  font-size: 25px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  transition: .3s;
}

.sidenav .closebtn {
  font-size: 36px;
  margin-left: 50px;
  position: absolute;
  right: 25px;
  top: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
